---
published: true
---

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Iora Health's Ruby coding style guidelines" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Iora Health: Ruby code style guide</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Iora Health</h1>
          <h2 id="project_tagline">Ruby coding guidelines</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      <h3><a href="#welcome">Welcome!</a></h3>
        <p>Greetings! I hope you have gathered here for some ruby coding
        guidelines as there will be no pictures of cats on this particular
        webpage.</p>
        <p>These sets of guidelines are developed based upon our tastes at Iora
        and are used to drive our internal development practices.  If they 
        suit your needs as well then feel free to make them your own!</p>
        <p>We have borrowed heavily from <a href="https://github.com/bbatsov/ruby-style-guide">https://github.com/bbatsov/ruby-style-guide</a>
        as well as <a href="https://github.com/styleguide/ruby/">https://github.com/styleguide/ruby/</a>
        and <a href="https://github.com/copycopter/style-guide">https://github.com/copycopter/style-guide</a>
        in the creation of our own set of guidelines.<p>

      <h3><a href="#spacing">Layout and Spacing</a></h3>
        <ul>
          <li>
            <p>Try to keep lines fewer than 80 characters.</p>
          </li>
          <li>
            <p>Never, ever leave trailing whitespace.  Let a machine help you
               in this endeavor by setting your text editor to be obnoxious when
               you leave trailing whitespace.</p>
          </li>
          <li>
            <p>Only use spaces.  Never use tabs.  We will publicly shame you if
            your text editor is somehow set to use tabs as this is a problem a
            machine can solve for you.</p>
            <p>Here are people who have abused the tab policy thus far:</p>
            <ul>
              <li>Matthew 'Conksy' Sisto</li>
            </ul>
          </li>
          <li>
            <p>Use two spaces per indentation level.</p>
          {% include space_demonstration.md %}
          </li>
          <li>
            <p>Do not use spaces after <code>(</code>, <code>[</code> or before
            <code>]</code>, <code>)</code>.</p>
            {% include no_spaces_for_parens.md %}
          </li>
          <li>
            <p>Do use spaces after <code>{</code> and before <code>}</code>.</p>
            {% include code_block_spaces.md %}
          </li>
          <li>
            <p>Break up code inside into logical paragraphs.  Some
               great opportunities for breaking up code includes:</p>
            <ul>
              <li>Following a block of variable assignment</li>
              <li>Following a multi-line block</li>
              <li>Before a return statement</li>
            </ul>
            {% include logical_method_paragraphs.md %}
          </li>
          <li>
            <p>We have an obsessive need to vertically align assignment
            statements.  This provides greater clarity and increases the chances
            that Uncle Bob will be our friend some day.</p>
            {% include vertical_alignment.md %}
          </li>
          <li>
            <p>When you can fit multiple variable assignment statements on one
            line of code; feel free to do so.  You should consider whether your
            variable names are descriptive enough though.  Chances are they are
            not.  Place a space after <code>,</code> and before/after <code>=</code>.</p>
            {% include multiple_assignment.md %}
          </li>
        </ul>
      <h3><a href="#naming">Naming</a></h3>
        <ul>
          <li>
            <p>Use <code>snake_case</code> for methods and variables.</p>
          </li>
          <li>
            <p>Use <code>CamelCase</code> for classes and modules.  Do not keep
            acronyms fully uppercase. ie <code>IpTables</code>.</p>
          </li>
          <li><p>Use <code>SCREAMING_SNAKE_CASE</code> for constants.</p></li>
          <li>
            <p>Ruby allows the use of <code>?</code> in method names so use it
            whenever the method returns a <code>boolean</code> value.</p>
          </li>
          <li>
            <p>Use <code>!</code> to indicate a method performs a dangerous 
            action.  When you define a dangerous method, you must also define
            one that is 'safe' as well.  Typically you should define the 
            'safe' method in relation to the dangerous one:</p>
            {% include bang_method.md %}
            <p>Code above hoisted from <a href="http://dablog.rubypal.com/2007/8/15/bang-methods-or-danger-will-rubyist">David A Black</a>.</p>
          </li>
        </ul>
      <h3><a href="#methods">Methods</a></h3>
        <ul>
          <li>
            <p>Methods should do one thing™.  We believe methods that limit
            themselves to doing exactly one thing at a consistent level of
            abstraction leads to more readable and maintainable code.  Some
            general guidelines to encourage methods to do only one thing include:</p>
            <ul>
              <li>Limit methods to at most 8 lines of executable code.</li>
              <li>Limit the number of parameters passed into the method to at 
              most 3.</li>
              <li>Avoid passing in an 'options' hash.  This usually ends up
              violating the above point.</li>
              <li>Prefer to pass in objects over ids.  The notable exception to
              this guideline is when you need to marshal the parameters.</li>
              <li>Limit the number of execution paths to be as simple as possible.</li>
            </ul>
          </li>
          <li>
            <p>Parenthesis are only used on <code>def</code> statements that have
            parameters.</p>
            {% include def_parens.md %}
          </li>
          <li>
            <p>Break up method definitions by putting blank lines between them.
               Nobody likes a person that fails to break up paragaphs into separate
               lines.  So don't be that guy.
            </p>
            {% include method_line_break.md %}
          </li>
          <li>
            <p>Avoid using <code>return</code> unless you absolutely have to.</p>
            {% include avoid_return.md %}
          </li>
          <li>
            <p>Put a space around the default value operator <code>=</code> on
            method definitions.  You put spaces around it everywhere else so it
            only makes sense to do so here!</p>
            {% include space_on_default_values.md %}
          </li>
          <li>
            <p>While it is possible to place a space between the method
            definition and the parenthesis; I question your sanity for doing
            so.</p>
            {% include space_method_invocation.md %}
          </li>
          <li>
            <p>Using parenthesis on method invocations is highly contested. The
            issue is that building hard and fast rules around when to use them
            and when exclusion is a solid policy is largely a matter of 
            rearranging the deck chairs on the Titanic.</p>
            <p>If it feels acceptable to omit the parenthesis, feel free to do
            so.  If the code is more readable with them please include them.
            With that said, here are some general guidelines:</p>
            <ul>
              <li>When using a DSL with its own style guideline (RSpec) use
              their preferred style</li>
              {% include rspec_parens.md %}
              <li>When assigning variables, always include parenthesis</li>
              {% include assignment_parens.md %}
            </ul>
          </li>
        </ul>
      <h3><a href="#conditionals">Conditionals</a></h3>
        <ul>
          <li>
            <p>The ternary operator hides multiple execution paths in one
            handy little line.  It should be avoided except when the conditions
            are trivial.  Consider using a multiline <code>if</code>/<code>else</code>
            statement instead.</p>
            {% include ternary_operator.md %}
          </li>
          <li>
            <p>Use the modifier <code>if</code>/<code>unless</code> for single
            statements.</p>
            {% include single_line_conditional.md %}
          <li>
            <p>Indent <code>when</code> at the same level as <code>case</code>.
            The <code>else</code> statement belongs on the same level of
            indentation as <code>when</code> and <code>case</code>.</p>
            {% include case_when_indent.md %}
          </li>
          <li>
            <p>Pairing <code>unless</code> with an <code>else</code> is bad
            news bears.  It's possible to swap the statement into an <code>if</code>
            /<code>else</code> by reversing the order of the conditionals and it
            prevents our minds from melting.</p>
            {% include unless_else.md %}
            <p><code>unless</code> is used to clarify exceptional cases.  When
            there is both a positive and negative case it loses all clarity. As
            a company we want to hear the good news before the bad news in our 
            conditional statements.</p>
          </li>
          <li>
            <p>It is rather possible to assign values in if statements.  Where
            it starts going downhill though is that <code>=</code> is one
            keystroke away from <code>==</code> and the intent of the code is
            not easily gleaned without a deeper code dive.</p>

            <p>In order to alleviate this burden upon the future reader of your
            code it is best to encapsulate assignment within an if statement
            with parenthesis.</p>
            {% include if_assignment.md %}
          </li>
          <li>
            <p>Using <code>unless</code> is a lot easier on the eyes than 
            <code>if !</code>.</p>
            {% include if_not_makes_me_sad.md %}
          </li>
        </ul>
      <h3><a href="#language-trivia">Language Trivia</a></h3>
        <p>Like any programming language, Ruby has both good and bad parts.  It
        would not be a coding guideline document if we didn't go over the parts
        of the language we should just flat out avoid in our day-to-day work.</p>
        <ul>
          <li>
            <p>The <code>for</code> loop should be avoided at all costs. 
            Internally it is implemented as an <code>each</code> loop but without
            properly scoping the block variable.</p>
            {% include for_loop_is_wrong.md %}
          </li>
          <li>
            <p>The use of <code>then</code> is likely to happen when you think
            you are writing coffescript code and not ruby.  We write a heck of
            a lot of coffescript so I do not die on the inside when you use it.</p>
            <p>There are are two failed casses when using <code>then</code>:</p>
            <ul>
              <li>On ending a multiline <code>if</code> statement</li>
              {% include then_is_unecessary.md %}
              <li>As a verbose ternary operator</li>
              {% include this_is_not_coffeescript.md %}
            </ul>
            <p>In the former case you've written an unecessary statement.  In
            the latter case you are wasting all of our time because people that
            made coffeescript were too lazy to write a proper ternary operator.</p>
          </li>
          <li>
            <p><code>and</code> and <code>or</code> are not equivalent to
            <code>&&</code> and <code>||</code>.  They take a much lower precedence
            and chances are that your code will not do what you'd like it to do. 
            It is best to avoid <code>and</code> and <code>or</code> altogether 
            despite the fact that your code may appear more readable.</p>
          </li>
          <li>
            <p>Use the nilguard (<code>||=</code>) freely to memoize variables.
            There are exceptions to when the nilguard will bite you in the butt:</p>
            <ul>
              <li>When <code>nil</code> is a valid value (duhhhhhhhh)</li>
              <li>When <code>false</code> is a valid value</li>
              {% include nilguard_alternative.md %}
            </ul>
          </li>
          <li>
          <p>Use <code>_</code> for unused block variables.</p>
          {% include unused_block_variables.md %}
          </li>
        </ul>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
