---
published: true
---

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Slate : A responsive theme for GitHub Pages</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Iora Health</h1>
          <h2 id="project_tagline">Ruby code style guide</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      <h3><a href="#welcome">Welcome!</a></h3>
        <p>
        Greetings! I hope you have gathered here for some ruby coding
        guidelines as there will be no pictures of cats on this particular
        webpage.
        </p>
        <p>
        These sets of guidelines are developed based upon our tastes at Iora
        and are used to drive our internal development practices.  If they 
        suit your needs as well then feel free to make them your own!
        </p>
        <p>
        We have borrowed heavily from <a href="https://github.com/bbatsov/ruby-style-guide">https://github.com/bbatsov/ruby-style-guide</a>
        as well as <a href="https://github.com/styleguide/ruby/">https://github.com/styleguide/ruby/</a>
        and <a href="https://github.com/copycopter/style-guide">https://github.com/copycopter/style-guide</a>
        in the creation of our own set of guidelines.
        <p>

      <h3><a href="#boring-layout-basics">Boring Layout Basics</a></h3>
        <ul>
          <li>
            <p>Try to keep lines fewer than 80 characters.</p>
          </li>
          <li>
            <p>Never, ever leave trailing whitespace.  Let a machine help you
               in this endeavor by setting your text editor to be obnoxious when
               you leave trailing whitespace.
            </p>
          </li>
          <li>
            <p>Only use spaces.  Never use tabs.  We will publicly shame you if
            your text editor is somehow set to use tabs as this is a problem a
            machine can solve for you.
            </p>
            <p>Here are people who have abused the tab policy thus far:</p>
            <ul>
              <li>Matthew 'Conksy' Sisto</li>
            </ul>
          </li>
          <li>
            <p>Use two spaces per indentation level.</p>
          {% include space_demonstration.md %}
          </li>
          <li>
            <p>Do not use spaces after <code>(</code>, <code>[</code> or before
            <code>]</code>, <code>)</code>.</p>
            {% include no_spaces_for_parens.md %}
          </li>
          <li>
          <p>Indent <code>when</code> one level deeper than <code>case</code>.
             The <code>else</code> statement belongs on the same level of
             indentation as <code>when</code>.
          </p>
            {% include case_when_indent.md %}
          </li>
        </ul>
      <h3><a href="#methods">Methods</a></h3>
        <ul>
          <li>
            <p>Parathensis are only used on <code>def</code> statements that have
            parameters.</p>
            {% include def_parens.md %}
          </li>
          <li>
          <p>Break up method definitions by putting blank lines between them.
             Nobody likes a person that fails to break up paragaphs into separate
             lines.  So don't be that guy.
          </p>
          {% include method_line_break.md %}
          </li>
          <li>
          <p>Break up code inside methods into logical paragraphs.  Some
             great opportunities for breaking up methods include:
          </p>
          <ul>
            <li>Following a block of variable assignment</li>
            <li>Following a multi-line block</li>
            <li>Before a return statement</li>
          </ul>
          {% include logical_method_paragraphs.md %}
          </li>
        </ul>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
